@{
    Layout ="~/_Layout.cshtml";
    Server.ScriptTimeout = 36000;
    if(!(User.IsInRole("MEMBER") || User.IsInRole("PM") || User.IsInRole("LEADER"))){
        <div>You're in here</div>
        Response.Redirect("~/Account/Logout");
    }
    
}
