<script>
    $(function () {
        $("#tabs").tabs();
    });

</script>
@if(Roles.IsUserInRole("LEADER") || User.IsInRole("PM")){
    <div>
        <span class="sub-header">
            <a href="~/Leader/ManageMembers"><img src="~/Images/userconfig.png" alt="Member Logo" class="buttonNavigation"></a> 
        </span>

        <span class="sub-header"><a href="~/Leader/ManageProjects">
            <img src="~/Images/projectIcon.png" alt="Project Logo" class="buttonNavigation"></a>
        </span>

        <span class="sub-header"><a href="~/Leader/ManageTimeSheet">
            <img src="~/Images/timeSheet_tr.png" alt="TimeSheet Logo" class="buttonNavigation"></a>
        </span>
    </div>     
}

@if(User.IsInRole("ADMIN") || User.IsInRole("MASTER")){
   <div>
        <span class="sub-header">
            <a href="~/Admin/UpdateResources"><img src="~/Images/userconfig.png" alt="Resources Logo" class="buttonNavigation"></a> 
        </span>

        <span class="sub-header"><a href="~/Account/Register">
            <img src="~/Images/addresource.png" alt="Project Logo" class="buttonNavigation"></a>
        </span>

        <span class="sub-header"><a href="~/Admin/AddProjects">
            <img src="~/Images/projectPlan.png" alt="TBD" class="buttonNavigation"></a>
        </span>
    </div>    
}

