<script>
    $(function () {
        $("#og-add-menu").menu();
    });
</script>

@if(Roles.IsUserInRole("LEADER") || User.IsInRole("PM")){
    @*rgb(0, 174, 233)*@
    <nav>
        <div id="nav1" class="component"><a style="text-decoration: none; color: White" href="/Leader/ManageMembers.cshtml">MANAGE MEMBERS</a></div>
        <div id="nav2" class="component"><a style="text-decoration: none; color: White" href="/Leader/ManageProjects.cshtml">MANAGE PROJECTS</a></div>
        <div id="nav3" class="component"><a style="text-decoration: none; color: White" href="/Leader/ManageTimeSheet.cshtml">MANAGE TIMESHEETS</a></div>
    </nav>
}

@if(User.IsInRole("ADMIN") || User.IsInRole("MASTER")){
    <nav>
        <div id="nav1" class="component"><a style="text-decoration: none; color: White" href="/Admin/ManageMembers.cshtml">MANAGE MEMBERS</a></div>
        <div id="nav2" class="component" ><a style="text-decoration: none; color: White" href="/Admin/ManageProjects.cshtml">MANAGE PROJECTS</a></div>
        <div id="nav3" class="component"><a style="text-decoration: none; color: White" href="/Admin/Organizations.cshtml">ORGANIZATIONS</a></div>
        <div id="sub-nav3" style="background-color: #b3b3b3" class="hidden">
            <div class="component-small"><a href="/Admin/ManageTasks.cshtml" style="font-weight: bold;color: white; text-decoration: none">TASKS</a></div>
            <div class="component-small hidden">GROUPS</div>
            <div class="component-small hidden">DIVISION</div>
            <div class="component-small hidden">COMPANY</div>
        </div>  
        <div id="sub-nav1" style="background-color: #b3b3b3" class="hidden">
            <div class="component-small"><a href="/Account/Register.cshtml" style="font-weight: bold;color: white; text-decoration: none">ADD NEW</a></div>
            <div class="component-small"><a href="/Admin/ViewMembers.cshtml">VIEW / EDIT MEMBERS</a></div>
            <div class="component-small hidden">DIVISION</div>
            <div class="component-small hidden">COMPANY</div>
        </div>
    </nav>
}

