<script>
    $(function () {
        $("#og-add-menu").menu();
    });
</script>
@if(Roles.IsUserInRole("LEADER") || User.IsInRole("PM")){
    @*rgb(0, 174, 233)*@
    <nav>
        <div id="nav1" class="component"><a style="text-decoration: none; color: White" href="/Leader/ManageMembers.cshtml">MANAGE MEMBERS</a></div>
        <div style="display: table-cell; width: 5px"></div>
        <div id="nav2" class="component"><a style="text-decoration: none; color: White" href="/Leader/ManageProjects.cshtml">MANAGE PROJECTS</a></div>
        <div style="display: table-cell; width: 5px"></div>
        <div id="nav3" class="component"><a style="text-decoration: none; color: White" href="/Leader/ManageTimeSheet.cshtml">MANAGE TIMESHEETS</a></div>
    </nav>
}

@if(User.IsInRole("ADMIN") || User.IsInRole("MASTER")){
    <nav>
        <div id="nav1" class="component"><a style="text-decoration: none; color: White" href="/Admin/ManageMembers.cshtml">MANAGE MEMBERS</a></div>
        <div style="display: table-cell; width: 5px"></div>
        <div id="nav2" class="component"><a style="text-decoration: none; color: White" href="/Admin/ManageProjects.cshtml">MANAGE PROJECTS</a></div>
        <div style="display: table-cell; width: 5px"></div>
        <div id="nav3" class="component"><a style="text-decoration: none; color: White" href="/Admin/Organizations.cshtml">ORGANIZATIONS</a></div>
        <div id="sub-nav3" style="background-color: #808080" class="hidden">
            <div class="component-small"><a href="/Admin/ManageTasks.cshtml">TASKS</a></div>
            <div class="component-small">GROUPS</div>
            <div class="component-small">DIVISION</div>
            <div class="component-small">COMPANY</div>
        </div>  
    </nav>
}

