@{
    Layout="_Layout.cshtml";
    if(IsPost){
        <p>@Request["ffff"].AsDateTime()</p>
    }
    var db = Database.Open("StarterSite");
    var userInfo =Functions.getUserInfo(34);
}
<script>
    $("button.aaa").removeClass();

    $(function () {
        var item = $("#ggg").tooltip({ tooltipClass: "redcolor" });
        $("#ggg").focusin();
        $("#ggg").tooltip("instance").removeAttr("role").addClass("hide");
    })
</script>
<style>
    fieldset{
        margin: auto;
    }

    .redcolor {
        display: none;
        color: red;
    }
</style>

<div id="ggg" style="padding: 10px; color: green; border: 2px solid grey; text-align: center" title="mmmm">
    Save successfully
</div>