@{
    Layout="_Layout.cshtml";
    if(IsPost){
        <p>@Request["ffff"].AsDateTime()</p>
    }
}
<script>
    $(function () {
        $("#abcd").dialog({position});
        $("#abcdef").datepicker();
        //$("button").click(function (event) {
        //    event.preventDefault();
        //    $.post(temp2.cshtml)
        // });
    });
</script>
<div>
    <form method="post">
        <input id="abcdef" name="ffff">
        <button>ggg</button>
    </form>
    
</div>

<div id="abcd">
    dfdafdfd
</div>


