@{
    Layout="_Layout.cshtml";
}
<form method="post" action="/Leader/ProcessingTimeSheet.cshtml">
    <input name="CurrentFirstOfWeek" value="3/4/2013">
    <input name="CurrentProjectUserId" value="9">
    <button>accept</button>
 </form>
