/*Layout page
    -----------------------------------*/
body {
    margin-left: 200px;
    width: 1000px;
    border-style: dotted;
}

.spacer{    
    border-top: 2px solid;
    border-bottom: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.buttonNavigation{
    border-style: solid;
    border-width: 2px;
}


.content{    
    background-color: #efefef;
    margin: auto;
    width: 1000px;
}

.logo{    
    background-color: #fff;  
}

.header{
    margin-bottom: 20px;
}

.sub-header{    
    margin:  0px 120px 0px 120px;
}

h2{  
    margin-top: 0px;
    padding-top: 0px;
    text-align: left;
}
#logoutForm {
    float: right;
    display: inline;
    margin-right: 10px;
}

#timeSheetlabel{
    text-align: center;
    text-decoration: underline;    
    font-family: sans-serif;   
}

#footer{
    margin-top: 20px;
    text-align: center;        
}

/*
    ------------------
    GRID
    ------------------       
    */
.grid{
    margin-left: 10px;
    background: #fff;
    width: 650px;
    border-collapse: collapse;    
} 
.grid th {
    font-size: 1.1em; 
    font-weight: normal; 
    color: #039; 
    padding: 10px 8px;
    border-bottom: 2px solid #728059;
    text-align: left; 
}
.grid td {
    border-bottom: 1px solid #ccc;    
    padding: 4px 6px; 
}
.alternate{
    background: #d3ff80; 
}
.gridheader, .gridfooter{
    background: #9ebf60; 
    
} 
.gridheader a, .gridfooter a{
    color: #fff;    
    text-decoration:none; 
    
} 
#projectName{
    font-size: xx-large;
    font-style: oblique;
    font-weight: 900;
    color: #0026ff;
    text-shadow: 20px;
    margin-bottom: 30px;
}
#projectDescription{
    width: 500px;
    height: auto;
    margin-left: 10px;
}

#datepickerStartedDate, #datepickerEndDate{
    margin-left: 10px;
    width: fit-content;
}
.projectHeader{
    font-size: medium;
    font-family: 'Courier New';
    color: #9ebf60;
    margin-top: 10px;
    margin-bottom: 10px;   
}