/*Layout page
    -----------------------------------*/


/*  LOGO 
    ------------------------*/
img{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
body{
    /*font-family: Helvetica, Geneva, Calibri, sans-serif;*/
    font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
}

/*  HEADER
    ---------------*/

/*--------------------CONTENT PAGE----------------------------------------------*/

/*CLASS FIELD*/

.content{
    width: 1000px;
    background-color: #fbf8f8;
    margin: auto;
    box-shadow: 3px 3px 2px rgba(0,0,0,.1);
}
.submitBtn{
    width: 120px;
}

.componentActive{
        border-width: 1px;
        border-color: rgb(0, 174, 233);
        background-color: #fbf8f8;
        border-style: solid;
        border-bottom-width: 0px;
        height: 50px;
        width: 200px;
        vertical-align: middle;
        display: table-cell;
        font-size: small;
        font-weight: bolder;
        text-align: center;
        font-family: Helvetica;        
}

.component {
        height: 50px;
        width: 200px;
        vertical-align: middle;
        display: table-cell;
        color: white;
        font-size: small;
        font-weight: bolder;
        text-align: center;
        font-family: Helvetica;
}
.component-small {
        width: 230px;
        vertical-align: middle;
        display: table-cell;
        color: white;
        font-size: 1em;
        font-weight: bolder;
        text-align: center;
        font-family: Helvetica;
        border-right: 1px solid white;
}
.component-small a{
    color: white;
    text-decoration: none;
}

.tk-button{
    padding: 5px 15px 5px 15px;
    text-align: center;
    min-width: 50px;
    cursor: pointer;
    background: #1E82CC;
    color: white;
    font-weight: bold;
    border: 0px;
}

.mt-line-up{
    width: 200px;
    display: inline-block;
}

.mt-line-up input, .mt-line-up select{
    height: 25px;
}

.sub-nav{
    margin-top: 3px;
    background-color: #9a9a9a;
    padding: 2px;
}

.opacity{
     opacity: 0.6;
}



/*SPECIFIC ID FIELD*/
#tslistProject,#tsTestType {
        width: 200px;
}

#component{
        width: 320px;
        display: inline-block;
        margin: 20px 20px 20px 10px;
}

/*  HEADER
    ------------------------*/

nav{
    background-color: #00A3EF;
    /*
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);*/
}

.projectHeader{
    font-size: medium;
    font-family: 'Courier New';
    color: #6d863e;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-weight: 900;  
}

.buttonNavigation{   
    border-width: 2px;       
}

h2{  
    margin-top: 0px;
    padding-top: 0px;
    text-align: left;
}

#logoutForm {
    text-align:right;
}

#timeSheetlabel{
    text-align: center;
    text-decoration: underline;    
    font-family: sans-serif;   
}

#footer{
    margin-top: 20px;
    text-align: center;        
}

#projectDescription{
    width: 500px;
    height: auto;
    margin-left: 10px;
}

/*
    ------------------
    GRID
    ------------------       
    */
.grid{
    /*margin-left: 10px;*/
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    font-family: Helvetica;    
} 
.grid th {
    font-size: 1.1em; 
    font-weight: normal; 
    color: #fff; 
    border-bottom: 2px solid #728059;
    text-align: left; 
}
.grid td {
    border-bottom: 1px solid #ccc;    
    padding: 4px 6px; 
    color: #000; 
}
.alternate{
    /*background: #d3ff80; */ 
    background: #f5f9ff;
}
.gridheader, .gridfooter{
    /*background: #9ebf60; 
    background: #72286b;*/
    color: white;
    background-color: rgb(102, 193, 225);
} 
.gridheader a, .gridfooter a{
    color: #fff;    
    text-decoration:none;     
} 

tr:hover{
    background-color: rgba(0,0,0,.1);
}


/*VALIDATION FIELD*/
.field-validation-error{
    color: #f00;
    padding-left: 10px
}

/* login page */
#loginForm .validation-error {
    display: block;
    margin-left: 15px;
}

#loginForm .validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

#loginForm .validation-summary-errors li {
    display: inline;
    list-style: none;
    margin: 0;
}

#loginForm input {
    width: 250px;
}

#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button {
    width: auto;
}
/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend {
    display: none;
}

fieldset ol {
    padding: 0;
    list-style: none;
}

fieldset ol li {
    padding-bottom: 5px;
}


/*  -------------------------------
    LEADER - MANAGE TIME SHEET PAGE
    -------------------------------  */

#paginationNext, #paginationPrevious:hover{
    cursor: pointer;
}


/*------------------------
    VIEW MEMBERS PAGE
    ----------------------*/
.vm-search-field{
    border-radius: 90px;
    color: white;
    width: 250px;
    border: 1px solid grey;
}

.vm-search-field div{
    display: inline-block; 
    margin-bottom: 3px;
}
.vm-search-field button{
    background-color: transparent;
    border: 0px solid black;
    box-shadow: none;
    margin-top: 6px;
    border-left: 1px solid black;
    cursor: pointer;
}

.vm-member-email-detail {
    color:  blue;
}

.vm-member-email-detail:hover{
    color: blue;
    cursor: pointer;
}
/*-----------------------------
    REGISTER PAGES 
    ---------------------------*/

.regis-component-small, .ap-component-small {
    width: 150px;
    display: inline-block;
    padding: 5px
        
}

#reg-new-member{
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*---------------------------------
    ADD PROJECT PAGE
    -------------------------------*/
.ap-component-small input,.ap-component-small select, .ap-component-small textarea{
    width: 200px;
}

.ap-component-small textarea{
    height: 100px;    
}

/* --------------------------------
    GENERAL PAGES
    -------------------------------   */
.hidden{
    display: none
}

.shown{
    display: normal
}

input.inputFeedbackError{
    outline: red solid 2px
}
