/*Layout page
    -----------------------------------*/


/*  LOGO 
    ------------------------*/
img{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline;
}
body{
    font-family: Helvetica, Geneva, Calibri, sans-serif;
}

/*  HEADER
    ---------------*/
nav{
    background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
    background-image: -moz-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
    background-image: -ms-linear-gradient(right, #FFFFFF 0%, #00A3EF 100%);
}
/*--------------------CONTENT PAGE----------------------------------------------*/

/*CLASS FIELD*/

.content{
    width: 1000px;
    background-color: #fbf8f8;
    margin: auto;
    box-shadow: 3px 3px 2px rgba(0,0,0,.1);
}
.submitBtn{
    width: 120px;
}

.componentActive{
        border-width: 1px;
        border-color: rgb(0, 174, 233);
        background-color: #fbf8f8;
        border-style: solid;
        border-bottom-width: 0px;
        height: 50px;
        width: 200px;
        vertical-align: middle;
        display: table-cell;
        font-size: small;
        font-weight: bolder;
        text-align: center;
        font-family: Helvetica;        
}

.component {
        height: 50px;
        width: 200px;
        vertical-align: middle;
        display: table-cell;
        color: white;
        font-size: small;
        font-weight: bolder;
        text-align: center;
        font-family: Helvetica;
}

.tk-button{
    height: 30px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}
.tk-button:hover{
    cursor: pointer;
}

/*SPECIFIC ID FIELD*/
#tslistProject,#tsTestType {
        width: 200px;
}

#component{
        width: 320px;
        display: inline-block;
        margin: 20px 20px 20px 10px;
}




/*  HEADER
    ------------------------*/
.projectHeader{
    font-size: medium;
    font-family: 'Courier New';
    color: #6d863e;
    margin-top: 10px;
    margin-bottom: 10px; 
    font-weight: 900;  
}

.spacer{    
    border-top: 2px solid;
    border-bottom: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.buttonNavigation{   
    border-width: 2px;       
}

h2{  
    margin-top: 0px;
    padding-top: 0px;
    text-align: left;
}
#logoutForm {
    text-align:right;
}

#timeSheetlabel{
    text-align: center;
    text-decoration: underline;    
    font-family: sans-serif;   
}

#footer{
    margin-top: 20px;
    text-align: center;        
}


#projectDescription{
    width: 500px;
    height: auto;
    margin-left: 10px;
}

#datepickerStartedDate, #datepickerEndDate{
    margin-left: 10px;
    width: fit-content;
}

/*
    ------------------
    GRID
    ------------------       
    */
.grid{
    margin-left: 10px;
    background: #fff;
    width: 900px;
    border-collapse: collapse;
    font-family: Helvetica;    
} 
.grid th {
    font-size: 1.1em; 
    font-weight: normal; 
    color: #fff; 
    border-bottom: 2px solid #728059;
    text-align: left; 
}
.grid td {
    border-bottom: 1px solid #ccc;    
    padding: 4px 6px; 
    color: #000; 
}
.alternate{
    /*background: #d3ff80; */ 
    background: #b0caf8;
}
.gridheader, .gridfooter{
    /*background: #9ebf60; 
    background: #72286b;*/
    color: white;
    background-color: rgb(102, 193, 225);
} 
.gridheader a, .gridfooter a{
    color: #fff;    
    text-decoration:none;     
} 


/*VALIDATION FIELD*/
.field-validation-error{
    color: #f00;
    padding-left: 10px
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }
/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }
/* --------------------------------
    GENERAL PAGES
    -------------------------------   */


/*  -------------------------------
    LEADER - MANAGE TIME SHEET PAGE
    -------------------------------  */

#paginationNext, #paginationPrevious:hover{
        cursor: pointer;
}