@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Registration Confirmation Page";

    string message = "";
    var confirmationToken = Request["confirmationCode"];

    WebSecurity.Logout();
    if (!confirmationToken.IsEmpty()) {
        if (WebSecurity.ConfirmAccount(confirmationToken)) {
            message = "Registration Confirmed! Click <a href='Login'>here</a> to log in to the site.";
        } else {
            message = "Could not confirm your registration info.";
        }
    }
}

@if (!message.IsEmpty()) {
    @Html.Raw(message);   
} else {
<hgroup class="title">  
    <h2>Use the form below to confirm your account.</h2>    
</hgroup>
    <form method="post">
        <fieldset>
            <legend>Confirmation Code</legend>
            <ol>
                <li>
                    <label for="confirmationCode">Confirmation code</label>
                    <input type="text" id="confirmationCode" name="confirmationCode" />
                </li>
            </ol>
            <input type="submit" value="Confirm" />
        </fieldset>
    </form>
}