@{
    Layout ="~/_Layout.cshtml";

    if(!WebSecurity.IsAuthenticated){
        Response.Redirect("~/Account/Logout.cshtml");
    }
    
    @*
    if(!Roles.IsUserInRole("LEADER") || !User.IsInRole("PM")){
        <div>You're in here</div>
        Response.Redirect("~/Account/Logout");
    }
*@

    
}
