@{
    Layout = "";

    //Initialize variables
    var db = Database.Open("StarterSite");
    var projectId = Request["ProjectId"].AsInt();
    var supervisorId = WebSecurity.CurrentUserId;
    WebGrid userData  = null;

    //Intialize queries
    if(User.IsInRole("PM")){
        userData = new WebGrid(db.Query("SELECT * FROM UserProfile WHERE ProjectManagerId=@0",supervisorId),canSort:false);        
    }
    if(User.IsInRole("LEADER")){
        userData = new WebGrid(db.Query("SELECT * FROM UserProfile WHERE LeaderId=@0",supervisorId),canSort:false);        
    }               
   

    if(IsPost){        
        var action = Request["Action"];
        var userId = Request["UserId"];
        
        @*If button "Remove" is pressed.*@
            if(action == "Remove"){
                //Status: 0 -- User is removed from project
                //Status: 1 -- User is joining in this project
                string removeMember = "UPDATE Project_User SET Status=@0 WHERE UserId=@1 AND ProjectId=@2";       
                db.Execute(removeMember,0,userId,projectId);              
            }
            

        @*If button "Add" is pressed.*@
            if(action == "Add" ){                
                var checkUserInProject = db.QuerySingle("SELECT UserId FROM Project_User WHERE UserId=@0 AND ProjectId=@1",userId,projectId);
                if(userId != ""){
                   if(checkUserInProject != null){
                        db.Execute("UPDATE Project_User SET Status=@0 WHERE UserId=@1 AND ProjectId = @2",1,userId,projectId);                      
                   }
                   else{
                        db.Execute("INSERT Project_User(Status,UserId,ProjectId) VALUES (@0,@1,@2)",1,userId,projectId);                       
                   }
                }
            }
    }
}

<script>
    $(function () {
        $("button[name=AddRemoveUser]").click(function () {
            var add = $(this).text();
            if (add =="Add") {
                $.post("/Leader/GetMembers.cshtml", { UserId: $(this).attr('value'), ProjectId: $("input[id=currentProjectId]").attr('value'), Action: 'Add' });
                alert("Add successfully");
            }
            else {
                $.post("/Leader/GetMembers.cshtml", { UserId: $(this).attr('value'), ProjectId: $("input[id=currentProjectId]").attr('value'), Action: 'Remove' });
                alert("Remove successfully");
            }
        });
    });               
</script>


<input type="hidden" value="@projectId" id="currentProjectId">
@Html.Label("MEMBER LIST")
@if(userData.TotalRowCount == 0){
    <div>You don't have any members</div>
}
else{
    @userData.GetHtml(
        tableStyle: "grid",
        headerStyle: "gridheader",
        footerStyle: "gridfooter",
                                
        //displayHeader: false,           
        columns: userData.Columns(
            userData.Column(columnName: "FirstName", header: "First Name"),
            userData.Column(columnName: "LastName",  header: "Last Name"),
            userData.Column(columnName: "UserCompanyId", header: "Empl. ID"),
            userData.Column(columnName: "Email"),                                                           
            userData.Column(format: @<button name="AddRemoveUser" value="@item.UserId" style="float: right; width: 100px">@if(db.QueryValue("SELECT Status FROM Project_User WHERE UserId=@0 AND ProjectId=@1 AND Status='True'",item.UserId,projectId) == true){<text>Remove</text>}else{<text>Add</text>}</button>)
        ))
}


