@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Admin Page</title>
        <link href="~/Admin/StyleSheet.css"  rel="stylesheet" type="text/css"  >
    </head>
    <body>
        <div class="logo">
            Logo in here
            <div style="float: right"><a href="">Sign Out</a></div>
        </div>
        <div class="header">
            Header in here
            <div>
                <span class="sub-header"><a href="~/Admin/ManageMembers">Members</a></span>
                <span class="sub-header"><a href="~/Admin/ManageProjects">Projects</a></span>
                <span class="sub-header">TimeSheets</span>
            </div>
        </div>
        <div class="content">
            Content in here
            @RenderBody()
        </div>
    </body>
</html>
