@{
    Response.Redirect("/Admin/AddProjects.cshtml");
}

<script>
    //SET CSS FOR ACTIVE TAB
    $("#nav2").attr('class', 'componentActive');
    $("#nav2 a").css('color', 'blue');
</script>

<p><strong>TO BE IN CONSTRUCTION</strong></p>

@*
<script>
    $("#tabs").tabs();
</script>

<div id="tabs">
    <ul>
        <li><a href="#overviewPrj">Overview All Projects</a></li>
        <li><a href="#addPrj">+</a></li>
    </ul>
    <div id="overviewPrj">
        <p>overview project</p>
    </div>
    <div id="addPrj">
        @RenderPage("AddProjects.cshtml")
    </div>
</div>

*@