@{
    Page.Title = "Update Resources";
    Layout = "~/_Layout.cshtml";

    //If role is not Admin, redirect to default page.
    if(!Roles.IsUserInRole("ADMIN")){
        Response.Redirect("~/");
    }

    //Connect to database
    var db = Database.Open("StarterSite");

    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <script>
            $(function () {
                $("#UpdateResource").click(alert("Update successfully"));
            });
        </script>
    </head>
    <body>
        <form method="post" action="#">
            @AntiForgery.GetHtml()
            <input type="text" name="UserId" placeholder="Enter ID or email address">
            <input type="submit" value="Filter" name="Filter">
        </form>

        @if(IsPost){
            AntiForgery.Validate();
                       
            //In Case 1: Filter button is pressed
            if(Request.Form["Filter"] == "Filter"){
                var userId = Request.Form["UserId"];
                @Helpers.ResourceDetail(userId)
            }
             //In Case 2: 'Update' button is pressed
            if(Request.Form["UpdateResource"] == "Update"){
                var userId = Request.Form["CurrentUserId"];
                var currentMemberRoleName = Request.Form["currentMemberRole"];                
                var newRole = Request.Form["role"];                
                var newSupervisor = Request.Form["supervisor"].AsInt();
                var userEmail = Request.Form["UserEmail"];
      
                //Remove old role
                Roles.RemoveUserFromRole(userEmail,currentMemberRoleName);
                //Add new role
                Roles.AddUserToRole(userEmail,newRole);

                //Update Supervisor
                var updateSupervisorQuery = "UPDATE UserProfile SET SupervisorId=@0 WHERE UserId=@1";
                db.Execute(updateSupervisorQuery,newSupervisor,userId);                                
                @Helpers.ResourceDetail(userId)
            }                                                  
        } 
    </body>
</html>
