body {
}
.content{
    width: 1000px;
    background-color: #ebeaea;
}
.logo{
    width: 1000px;
    background-color: #0026ff;    
    
}
.header{
    width: 1000px;
    background-color: #808080;
}

.content{
     width: 1000px;
}

.sub-header{
    width: 350px;
    margin:  100px;
}

/*
    ------------------
    GRID
    ------------------       
    */
.grid{
    margin-left: 10px;
    background: #fff;
    width: 650px;
    border-collapse: collapse;    
} 
.grid th {
    font-size: 1.1em; 
    font-weight: normal; 
    color: #039; 
    padding: 10px 8px;
    border-bottom: 2px solid #728059;
    text-align: left; 
}
.grid td {
    border-bottom: 1px solid #ccc;    
    padding: 4px 6px; 
}
.alternate{
    background: #d3ff80; 
}
.gridheader, .gridfooter{
    background: #9ebf60; 
    
} 
.gridheader a, .gridfooter a{
    color: #fff;    
    text-decoration:none; 
    
} 
#projectName{
    font-size: xx-large;
    font-style: oblique;
    font-weight: 900;
    color: #0026ff;
    text-shadow: 20px;
    margin-bottom: 30px;
}
#projectDescription{
    width: 500px;
    height: auto;
    margin-left: 10px;
}

#datepickerStartedDate, #datepickerEndDate{
    margin-left: 10px;
    width: fit-content;
}
.projectHeader{
    font-size: medium;
    font-family: 'Courier New';
    color: #9ebf60;
    margin-top: 10px;
    margin-bottom: 10px;   
}